@import 'normalize';

body {
	background-image: url('../images/1.jpg');
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px;
	max-width: 1920px;
	margin: 0 auto;
	padding: 10px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: clamp(22px, 5vw, 35px);
	transition: 0.3s;
	color: #ffffff;
	@media (hover: hover) {
		&:hover {
			color: #cdcbcb;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__square {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		width: 405px;
		height: 405px;
		background-color: rgb(62 166 162 / 82%);
		cursor: pointer;

		@media screen and (max-width: 680px) {
			width: 300px;
			height: 300px;
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 135px;
			height: 135px;
			box-sizing: border-box;
			font-size: 100px;
			border: 1px solid #000;
			color: #fff;
			text-transform: uppercase;
			transition: 0.3s;
			&:active {
				border: 2px solid #fff;
				border-radius: 2%;
				color: #ff0000;
				background-color: rgb(255 255 255 / 25%);
			}

			@media screen and (max-width: 680px) {
				width: 100px;
				height: 100px;
			}

			@media (hover: hover) {
				&:hover {
					border: 2px solid #fff;
					border-radius: 2%;
					color: rgb(208, 204, 204);
				}
			}
			&_win {
				background-color: green;
			}
		}
	}
}

.table {
	font-size: clamp(22px, 5vw, 35px);
	color: white;
	user-select: none;
	&__score_active {
		color: rgb(62 166 162 / 82%);
	}
}

.main__button {
	text-align: center;
}

.res {
	height: 50px;
	color: white;
	font-size: 30px;
}
