@import './scss/normalize';
@import './scss/mixins';
@import './scss/media';

body {
	background-color: #12181b;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	@include flexBox(column, center, center);
	max-width: 1920px;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px 10px;
}

.main {
	@include flexBox(column, center, center);
	gap: 8px;

	.res {
		@include flexBox(column, center, center);
		height: 50px;
		color: white;
		font-size: clamp(26px, 4vw, 38px);
	}

	&__square {
		@include flexBox(row, normal, normal, wrap);
		@include width-height(405px, 405px);
		margin-bottom: 20px;
		cursor: url('./images/svg/pencil.svg'), pointer;

		&-item {
			@include flexBox(row, center, center);
			@include width-height(135px, 135px);
			transition: 0.3s;

			&:nth-child(1),&:nth-child(2),&:nth-child(4),&:nth-child(5),&:nth-child(7),&:nth-child(8) {
				border-right:5px solid white;
			}

			&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
				border-bottom:5px solid white;
			}

			@include hoverOrActive {
				background-color: rgb(255 255 255 / 9%);
			}
		}

		&-naught,&-cross {
			cursor: not-allowed;

			@include hoverOrActive {
				background-color: #12181b;
			}
		}
		&-naught_win ,&-cross_win{
			background-color: rgb(1 58 85 / 62%);
			animation: changeColor 1.5s infinite;

			@include hoverOrActive {
				background-color: rgb(1 58 85 / 62%);
			}
		}
	}
}

.main__button {
	@include width-height(150px, 40px);
	background-color: rgba(255, 255, 255, 0.77);
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	font-size: clamp(16px, 3vw, 20px);

	@media (hover: hover) {
		&:hover {
			background-color: rgb(255, 255, 255);
		}
	}

	&:active {
		background-color: rgb(255, 255, 255);
	}
}

@keyframes changeColor {
	0% {
    background-color: #12181b;
}
	50% {
    background-color: rgba(1, 58, 85, 0.62);
	}
	100% {
    background-color: #12181b;
	}
}

.main__title {
	font-size: clamp(27px, 6vw, 34px);
	color: #ffffff;
	pointer-events: none;
	user-select: none;
}

.animated-circle {
	transition: stroke-dashoffset 0.8s;
}

.animated-cross {
	transition: stroke-dashoffset 0.8s;
}

@import './scss/adaptive';
