@import './scss/normalize';
@import './scss/mixins';
@import './scss/media';

body {
	background-color: #12181b;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	@include flexBox(column, center, center);
	max-width: 1920px;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px 10px;

	@include smallMobile {
		padding: 10px 5px;
	}
}

.main {
	@include flexBox(column, center, center);
	gap: 8px;

	.res {
		@include flexBox(row,center, space-between);
		margin-bottom: 10px;
		width: 100%;
    user-select: none;
    pointer-events: none;
		color: white;
		font-size: clamp(26px, 4vw, 38px);

		&__circle,&__cross {
			width: 40px;
			height: 40px;
			padding: 2px;
    box-sizing: content-box;

		@include smallMobile {
			width: 35px;
			height: 35px;
		}

		}

		&__circle_active,&__cross_active {
			border-radius: 10%;
		}

		&__circle_active {
			border: 1px solid rgb(228 10 41);
		}

		&__cross_active {
			border: 1px solid 	rgb(15 18 198);
		}
		
		&__score {
			display: flex;
			gap: 0 2px;
			font-size: 34px;

			@include smallMobile {
				font-size: 30px;
			}
		}
	}

	&__square {
		@include flexBox(row, center, center, wrap);
		@include width-height(405px, 405px);
		margin-bottom: 30px;
		cursor: url('./images/svg/pencil.svg'), pointer;

		@include mobile {
			@include width-height(355px, 355px);
		}

		@include smallMobile {
			@include width-height(285px, 285px);
		}

		&-item {
			@include flexBox(row, center, center);
			@include width-height(135px, 135px);
			transition: 0.3s;

			@include mobile {
				@include width-height(118px, 118px);
			}

			@include smallMobile {
				@include width-height(95px, 95px);
			}
			
			&:nth-child(1),&:nth-child(2),&:nth-child(4),&:nth-child(5),&:nth-child(7),&:nth-child(8) {
				border-right:5px solid white;
			}

			&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
				border-bottom:5px solid white;
			}

			@include hoverOrActive {
				background-color: rgb(255 255 255 / 9%);
			}
		}

		&-naught,&-cross {
			cursor: not-allowed;

			@include hoverOrActive {
				background-color: #12181b;
			}
		}
		&-naught_win ,&-cross_win{
			background-color: rgb(1 58 85 / 62%);
			animation: changeColor 1.5s infinite;

			@include hoverOrActive {
				background-color: rgb(1 58 85 / 62%);
			}
		}
	}
}

.main__button {
	@include width-height(150px, 40px);
	background-color: rgba(255, 255, 255, 0.77);
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	font-size: 20px;

	@include smallMobile {
		@include width-height(130px, 35px);
		font-size: 16px;
	}



	@include hoverOrActive {
		background-color: rgb(255, 255, 255);
	}

}

@keyframes changeColor {
	0% {
    background-color: #12181b;
}
	50% {
    background-color: rgba(1, 58, 85, 0.62);
	}
	100% {
    background-color: #12181b;
	}
}

.animated-circle {
	transition: stroke-dashoffset 0.8s;
}

.animated-cross {
	transition: stroke-dashoffset 0.8s;
}