@import './scss/normalize';
@import './scss/mixins';

body {
	background-color: #12181b;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	@include flexBox(column, center, center);
	max-width: 1920px;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px 10px;
}

.main {
	@include flexBox(column, center, center);
	gap: 8px;

	&__res {
		@include flexBox(column, center, center);
		height: 50px;
		color: white;
		font-size: clamp(26px, 4vw, 38px);
		animation: changeColor 1.5s infinite;
	}

	&__square {
		@include flexBox(row, normal, normal, wrap);
		@include width-height(405px, 405px);
		margin-bottom: 20px;
		background-color: rgb(233 233 233 / 77%);
		cursor: url('./images/svg/pencil.svg'), pointer;

		&-item {
			@include flexBox(row, center, center);
			@include width-height(135px, 135px);
			font-size: clamp(90px, 15vw, 105px);
			border: 1px solid #000;
			color: #000;
			text-transform: uppercase;
			transition: 0.3s;

			@media (hover: hover) {
				&:hover {
					border: 2px solid #fff;
					border-radius: 2%;
					color: rgb(68, 67, 67);
					background-color: rgb(255 255 255 / 88%);
				}
			}

			&:active {
				border: 2px solid #000;
				border-radius: 2%;
				color: rgb(68, 67, 67);
				background-color: rgb(255 255 255 / 88%);
			}

			&_win {
				background-color: #18c41885;
				&:hover {
					background-color: #23a92385;
				}
			}
		}
	}
}

.main__button {
	@include width-height(150px, 40px);
	background-color: rgba(255, 255, 255, 0.77);
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	font-size: clamp(16px, 3vw, 20px);

	@media (hover: hover) {
		&:hover {
			background-color: rgb(255, 255, 255);
		}
	}

	&:active {
		background-color: rgb(255, 255, 255);
	}
}

@keyframes changeColor {
	0% {
		color: #ffffff;
	}
	50% {
		color: #6600ff00;
	}
	100% {
		color: #ffffff;
	}
}

.main__title {
	font-size: clamp(27px, 6vw, 45px);
	transition: 0.3s;
	color: #ffffff;
}

@media (hover: hover) {
	.main__title:hover {
		color: #e2dcdc;
	}
}
.animated-circle {
	transition: stroke-dashoffset 0.8s;
}

.animated-cross {
	transition: stroke-dashoffset 0.8s;
}

@import './scss/adaptive';
