.field {
	@extend %flexCenter;
	flex-wrap: wrap;
	margin-bottom: 30px;
	@include sizes(405px, 405px);
	cursor: url('./images/svg/pencil.svg'), pointer;

	@include mobile {
		@include sizes(355px, 355px);
	}

	@include smallMobile {
		@include sizes(285px, 285px);
	}

	&__item {
		@extend %flexCenter;
		@include sizes(135px, 135px);
		transition: 0.3s;

		& svg {
			@include mobile {
				width: 80px;
				height: 80px;
			}

			@include smallMobile {
				@include sizes(70px, 70px);
			}
		}

		@include mobile {
			@include sizes(118px, 118px);
		}

		@include smallMobile {
			@include sizes(95px, 95px);
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(7),
		&:nth-child(8) {
			border-right: 5px solid white;
		}

		&:nth-child(-n+6) {
			border-bottom: 5px solid white;
		}

		@include hoverOrActive {
			background-color: rgb(255 255 255 / 9%);
		}

		& .animated-circle,
		.animated-cross {
			transition: stroke-dashoffset 0.8s;
		}
	}

	&__naught,
	&__cross {
		cursor: not-allowed;

		@include hoverOrActive {
			background-color: #12181b;
		}

		&_disabled {
			pointer-events: none;
		}
	}

	&__naught_win,
	&__cross_win {
		background-color: rgb(1 58 85 / 62%);
		animation: changeColor 1.5s infinite;

		@include hoverOrActive {
			background-color: rgb(1 58 85 / 62%);
		}
	}
}