body {
	background-color: #12181b;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	@extend %flexCenter;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px 10px;
	max-width: 1920px;
	min-height: 100%;

	@include smallMobile {
		padding: 10px 5px;
	}
}

.main {
	@extend %flexCenter;
	flex-direction: column;
	gap: 22px;
}
