.newgame__button {
	@include sizes(150px, 40px);
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	transition: 0.3s;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.77);
	color: black;

	@include smallMobile {
		@include sizes(130px, 35px);
		font-size: 16px;
	}

	@include hoverOrActive {
		background-color: rgb(255, 255, 255);
	}
}