.res {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 100%;
	user-select: none;
	pointer-events: none;
	font-size: clamp(26px, 4vw, 38px);
	color: white;

	&__circle,&__cross {
		box-sizing: content-box;
		padding: 2px;
		@include sizes(40px,40px);

	@include smallMobile {
		@include sizes(35px,35px);
	}
}

	&__circle_active,&__cross_active {
		border-radius: 10%;
	}

	&__circle_active {
		border: 1px solid rgb(228 10 41);
	}

	&__cross_active {
		border: 1px solid rgb(15 18 198);
	}
	
	&__score {
		@extend %flexCenter;
		flex-direction: column;
		gap: 5px 2px;

		&-inner {
			display: flex;
			font-size: 32px;

			@include smallMobile {
				font-size: 28px;
			}
		}

		&-text {
			visibility: hidden;
			height: 30px;
			color:white;
			font-size: 24px;

			&_show {
				visibility: visible;
			}

			@include smallMobile {
				height: 24px;
				font-size: 20px;
			}
		}
	}
}